:root {
    --fontR: 'Raleway', sans-serif;
    --fontO: 'Open Sans', sans-serif;
    --fontR300: 300 'Raleway';
    --fontR400: 400 'Raleway';
    --fontR700: 700 'Raleway';
    --fontR800: 800 'Raleway';
    --fontO300: 300 'Open Sans';
    --fontO400: 400 'Open Sans';
    --fontO700: 700 'Open Sans';
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1352px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    font: normal normal 300 32px/37px Raleway;
    font-size: 32px;
    color: var(--color-primary);
    padding-top: 16px ;
    padding-left: 136px;
}

.page-nav{
    padding-right: 136px;
    padding-top: 27px;


}

.page-nav-list {
    display: flex;

}

.page-nav-list li:last-child {
    margin-right: 136px;
    padding-left: 50px;
}

.page-nav-list li:first-child {
    padding-right: 50px;
}

.page-nav-list li:nth-child(2){
    padding-right: 50px;
}

.page-nav-list li:nth-child(3){

}

li a {
    font: normal normal bold 11px/15px Open Sans;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    alignment: center;
    letter-spacing: 3.28px;
}

background-image: url("../assets/Background.png");

