:root {
    --fontR: 'Raleway', sans-serif;
    --fontO: 'Open Sans', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --primary-width: 1352px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 70px;
    width: 100vw;
    box-shadow: 0 3px 6px #00000029;
}
.container {
    width: 1352px;
}

.header_container {
    display: flex;
    justify-content: space-between;
}


.logo-text {
    font: normal normal 300 32px/37px Raleway;
    font-size: 32px;
    color: var(--color-primary);
    padding-top: 16px ;
    padding-bottom: 17px;
    padding-left: 80px;
}

.header-nav-list {
    display: flex;
    padding-top: 27px;
    padding-bottom: 28px;
}

.nav_element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.nav_link {
    font: normal normal bold 11px/15px Open Sans;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 18px 22px;
    color: var(--color-grey);
    alignment: center;
    letter-spacing: 3.28px;
    border: 4px solid transparent;
}

.nav_link:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-primary);
}


.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-title {
    font: normal normal normal 49px/57px Raleway;
    padding-top: 125px;
    padding-bottom: 20px;
}

.article-text {
    padding-bottom: 38px;
    font-family: var(--fontO);
}

.banner-button {
    width: 435px;
    height: 60px;
    background-color: var(--color-primary);
    border-radius: 40px;
    border: none;
    box-shadow: 5px 10px 14px #07ACE629;
    color: var(--color-white);
    font-family: var(--fontO);
    font-weight: bold;
}

.banner-overlay {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 500px;
    margin: 0;
}



.statistics_container {
    display: flex;
    justify-content: center;

}
.statistics_title {
    font-family: var(--fontR);
    font-size: 36px;
    font-weight: lighter;
    color: black;
}

.statistic_table {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin: 0 130px;
}

.statistic_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.statistics_circle_red {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #FB3B64;
    align-items: center;
    justify-content: center;
}

.statistics_circle_blue {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #08A6E4;
}

.statistics_circle_green {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #55DFB4;
    align-items: center;
    justify-content: center;
}

.statistics_img {
    height: 55px;
    width: 53px;
    margin-top: -65px;
    margin-left: 35px;
}

.statistics_img_eye {
    height: 65px;
    width: 65px;
    margin-top: -65px;
    margin-left: 60px;
}

.statistics_number {
    font-family: var(--fontR);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 4px;
    color: var(--color-black);
    padding-top: 15px;
    justify-content: center;
    line-height: 24px;
}

.statistics_number_eye {
    font-family: var(--fontR);
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 5.96px;
    color: var(--color-black);
    padding-top: 10px;
    line-height: 24px;

}

.statistics_description {
    font-family: var(--fontR);
    font-size: 17px;
    color: var(--color-grey);
    padding-top: 20px;
    text-align: center;
}

.statistics_description_entries {
    font-family: var(--fontR);
    font-size: 17px;
    color: var(--color-grey);
    padding-top: 20px;
    text-align: center;

}

.benefits {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 1395px;
    background-color: var(--color-light-grey);
    margin-top: 122px;

}

.benefits_container {
    width: 1124px;
}

.benefits_first_box {
    display: flex;
    width: 1124px;
    height: 370px;
    border: 1px solid #E8E9ED;
    background-color: var(--color-white);
    margin-top: 105px
}

.benefits_second_box {

    display: flex;
    flex-direction: row-reverse;
    width: 1124px;
    height: 370px;
    border: 1px solid #E8E9ED;
    background-color: var(--color-white);
    margin-top: 37px;
}

.benefits_third_box {
    display: flex;
    width: 1124px;
    height: 370px;
    border: 1px solid #E8E9ED;
    background-color: var(--color-white);
    margin-top: 37px;
}

.benefits_text_first_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 36px;
}

.benefits_text_second_box {
    display: flex;
    flex-direction: column;
    margin-left: -50px;

}

.benefits_text_third_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 36px;
}

.benefits_title {
    font-family: var(--fontR);
    font-size: 36px;
    color: var(--color-black);
    padding-top: 91px;
}

.benefits_text {
    font-family: var(--fontO);
    font-size: 16px;
    color: var(--color-black);
    padding-top: 30px;
}

.benefits_img {
    width: 386px;
    height: 219px;
    margin-left: 169px;
    margin-top: 113px;
    margin-right: 116px;
    position: relative;
    z-index: 1;
}

.benefits_img_iphone {
    height: 320px;
    margin-left: 60px;
    margin-right: 116px;
    position: relative;
    z-index: 1;
    padding-right: 150px;

}

.rectangle_red {
    height: 180px;
    width: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: #FB3B64;
    border-radius: 41px;
    position: absolute;
    z-index: 0;
    margin-top: -250px;
    margin-left: 380px;
}

.ellipse {
    height: 320px;
    width: 320px;
    background-color: #07ACE6;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -314px;
}

.benefits_line_red {
    border: 2px solid #FB3B64;
    width: 386px;
    height: 0;
    opacity: 1;
    margin-top: 50px;
}

.benefits_line_blue {
    border: 2px solid #08A6E4;
    width: 386px;
    height: 0;
    opacity: 1;
    margin-top: 50px;
}

.benefits_line_green {
    border: 2px solid #55DFB4;
    width: 386px;
    height: 0;
    opacity: 1;
    margin-top: 50px;
}
.rectangle_green {
    width: 440px;
    height: 370px;
    border: 1px solid #E8E9ED;
    background-color: #55DFB4;
    margin-top: -333px;
    margin-left: 261px;
}

.benefits_img_trumpet {
    width: 386px;
    height: 219px;
    margin-left: 250px;
    margin-top: 113px;
    margin-right: 116px;
    position: relative;
    z-index: 1;
}

.pricing {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1266px;
    margin: 20px;
}

.pricing_title {
    font-family: var(--fontR);
    font-size: 36px;
    color: var(--color-black);
    padding: 20px 0;
    margin: 0 20px 20px 0;
}

.pricing_boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
    margin: 20px auto;
}

.pricing_basic_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    width: 350px;
    height: 461px;
    margin-right: 60px;
}

.pricing_professional_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    width: 372px;
    height: 461px;
    scale: 1.2;

}

.pricing_premium_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    width: 372px;
    height: 461px;
    margin-left: 60px;

}

.pricing_box_title {
    font-family: var(--fontR);
    font-weight: bold;
    font-size: 20px;
    padding-top: 34px;
}

.basic_box_price {
    font-family: var(--fontO);
    font-size: 46px;
    font-weight: lighter;
    color: #FB3B64;
    padding: 14px 0;
}

.professional_box_price {
    font-family: var(--fontO);
    font-size: 46px;
    font-weight: lighter;
    color: #07ACE6;
    padding: 14px 0;
}

.premium_box_price {
    font-family: var(--fontO);
    font-size: 46px;
    font-weight: lighter;
    color: #55DFB4;
    padding: 14px 0;
}

.professional_box_description {
    font-family: var(--fontR);
    font-size: 14px;
    padding-bottom: 60px;
}


.box_text {
    font-family: var(--fontO);
    font-size: 14px;
    padding: 15px 0;
    position: relative;
}

.box_text:before {
    display: inline-block;
    content: "\2713";
    width: 3px;
    height: 3px;
    margin: 5px 5px;
    padding: 3px;
    border: 1px solid #55DFB4;
    background-color: transparent;
    position: relative;
    z-index: 1;
}