:root {
    --fontR: 'Raleway', sans-serif;
    --fontO: 'Open Sans', sans-serif;
    --fontR300: 300 'Raleway';
    --fontR400: 400 'Raleway';
    --fontR700: 700 'Raleway';
    --fontR800: 800 'Raleway';
    --fontO300: 300 'Open Sans';
    --fontO400: 400 'Open Sans';
    --fontO700: 700 'Open Sans';
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

}

.container {
    width: 1352px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-text {
    font-family: sans-serif;
    font-size: 50px;
}