$columns: 12;
$gutters: 15px;
$base-column-size: 100% / $columns;
$breakpoints: (
        xs: 576px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;
$primary-width: 1352px;