@use '../settings/colors';
@use '../settings/variables';

body {
  background-color: #e4e4e4;
  color: colors.$color-primary;
  font-family: variables.$primary-font-family;
  width: variables.$primary-width;
}